{% extends 'base-nav.html.twig' %}

{% block title %}Search{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{asset('css/lodgings.css')}}">
<link rel="stylesheet" href="{{ asset('css/navbar.css') }}">

{% endblock %}


{% block body %}
<main style="background-color:dimgray;">

  <div id="root"></div>
</main>

{% endblock %}

