<h1>Bienvenue chez Tripee !</h1>

<p>
    Merci de confirmer votre adresse e-mail en suivant ce lien : <br><br>
    <a href="{{ signedUrl }}">Je confirme mon e-mail</a>.
    Ce lien expirera dans  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bons trips avec Tripee !
</p>
